body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1274px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:114px;
  width:1200px;
  height:1925px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1926px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:114px;
  width:1px;
  height:1925px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1926px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:114px;
  width:1px;
  height:1925px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1926px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:114px;
  width:1px;
  height:1925px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:35px;
  width:1200px;
  height:80px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:55px;
  width:179px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:57px;
  width:179px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:55px;
  width:179px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:55px;
  width:179px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:144px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:239px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:204px;
  width:0px;
  height:0px;
}
#u579_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u579_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:277px;
  height:8px;
}
#u579_seg2 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:43px;
  width:20px;
  height:20px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:458px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:274px;
  width:0px;
  height:0px;
}
#u581_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:188px;
}
#u581_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:171px;
  width:20px;
  height:20px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:85px;
  width:100px;
  word-wrap:break-word;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:355px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:590px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:488px;
  width:0px;
  height:0px;
}
#u584_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u584_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-98px;
  width:8px;
  height:102px;
}
#u584_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-105px;
  width:20px;
  height:20px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-35px;
  width:100px;
  word-wrap:break-word;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:355px;
  width:0px;
  height:0px;
}
#u585_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-102px;
  width:8px;
  height:102px;
}
#u585_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-102px;
  width:67px;
  height:8px;
}
#u585_seg2 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-108px;
  width:20px;
  height:20px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:676px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:518px;
  width:0px;
  height:0px;
}
#u587_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u587_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:58px;
  width:9px;
  height:8px;
}
#u587_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:58px;
  width:8px;
  height:14px;
}
#u587_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:20px;
  height:20px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:625px;
  width:0px;
  height:0px;
}
#u588_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u588_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:65px;
  width:260px;
  height:8px;
}
#u588_seg2 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:59px;
  width:20px;
  height:20px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:845px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:711px;
  width:0px;
  height:0px;
}
#u590_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:138px;
}
#u590_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:121px;
  width:20px;
  height:20px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1016px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:905px;
  width:0px;
  height:0px;
}
#u592_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u592_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:98px;
  width:20px;
  height:20px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:475px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:875px;
  width:0px;
  height:0px;
}
#u594_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u594_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-365px;
  width:8px;
  height:369px;
}
#u594_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-372px;
  width:20px;
  height:20px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-170px;
  width:100px;
  word-wrap:break-word;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1104px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:475px;
  width:0px;
  height:0px;
}
#u596_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-106px;
  width:8px;
  height:106px;
}
#u596_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:-106px;
  width:260px;
  height:8px;
}
#u596_seg2 {
  border-width:0px;
  position:absolute;
  left:-263px;
  top:-112px;
  width:20px;
  height:20px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1261px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:1139px;
  width:0px;
  height:0px;
}
#u598_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:126px;
}
#u598_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:109px;
  width:20px;
  height:20px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:1051px;
  width:0px;
  height:0px;
}
#u599_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u599_seg1 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:67px;
  width:261px;
  height:8px;
}
#u599_seg2 {
  border-width:0px;
  position:absolute;
  left:-264px;
  top:61px;
  width:20px;
  height:20px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:1352px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:1296px;
  width:0px;
  height:0px;
}
#u601_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u601_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:70px;
  width:572px;
  height:8px;
}
#u601_seg2 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:64px;
  width:20px;
  height:20px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:197px;
  top:67px;
  width:100px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:1507px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1387px;
  width:0px;
  height:0px;
}
#u603_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u603_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:107px;
  width:20px;
  height:20px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:1643px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1567px;
  width:0px;
  height:0px;
}
#u605_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u605_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:63px;
  width:20px;
  height:20px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:1756px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1678px;
  width:0px;
  height:0px;
}
#u607_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u607_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:355px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1537px;
  width:0px;
  height:0px;
}
#u609_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u609_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-1147px;
  width:8px;
  height:1151px;
}
#u609_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-1154px;
  width:20px;
  height:20px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-552px;
  width:100px;
  word-wrap:break-word;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:373px;
  width:0px;
  height:0px;
}
#u610_seg0 {
  border-width:0px;
  position:absolute;
  left:-555px;
  top:-4px;
  width:559px;
  height:8px;
}
#u610_seg1 {
  border-width:0px;
  position:absolute;
  left:-562px;
  top:-10px;
  width:20px;
  height:20px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:-328px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:1845px;
  width:59px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1791px;
  width:0px;
  height:0px;
}
#u612_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u612_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:1939px;
  width:100px;
  height:60px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1880px;
  width:0px;
  height:0px;
}
#u614_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u614_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:2054px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:20px;
  width:1255px;
  height:2054px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:509px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:101px;
  width:1098px;
  height:509px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
